body {
    background-color: #e2ded3; 
    margin: 0;
    padding: 0;
}

table, thead, th, tbody, tr, td{
    border: 1px solid;
}

#map {
    width: 80%;
    height: 70vh;
    border: 5px solid #404040;
}